img {width:100%;}
.car-image-block {
    background-position: center;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.car-image-block img {min-height: 200px; overflow: hidden;}
.white_fondo{
    background-color: white;
    margin: 3px;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}
.fix_ancho{
    width: 173px;
}