@font-face {
    font-family: myFont;
    src: url("./../fonts/custom.ttf");
}
html {
    font-family: myFont !important;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.bg-light {
    background-color: #080808 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 7, 7, 0.87);
}

tbody tr {
    background-color: #c4c4c4 !important;
    color: black !important;
}
tbody tr:hover {
    background-color: #c4c4c4b8 !important;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 0px solid #1b64ad !important;
}
.remove_style_list {
    list-style-type: none;
    position: relative;
    top: 10px;
}
.icons_top {
    color: white !important;
}
.icons_top:hover {
    cursor: pointer;
    color: red !important;
}
.ico_actions:hover {
    cursor: pointer;
    color: red !important;
}

#rigth_area li {
    display: inline;
}
.navbar-brand img {
    width: 150px;
    position: relative;
    right: -100%;
}
form div input,
form div select {
    background-color: #b5aaaabf !important;
    color: black !important;
}
.title_team {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.progress {
    background-color: #afd485 !important;
    border-radius: 0px !important;
    height: 1.5rem !important;
}
.progress-bar {
    background-color: #8dc152 !important;
}
.container_item {
    padding: 5px;
    background-color: #888888;
}
.delte_maring {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.item_agent {
    color: #c01f21;
    font-weight: bold;
}
.item_nb {
    color: white;
    font-style: italic;
    font-weight: bold;
}

.containder-fuild {
    overflow: auto;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #212529 !important;
    border-color: #dc3545 !important;
}
