.mayus{
text-transform: uppercase;
}
#imagen-header{

    width: 100%;
    height: 40%;
    background-color: #79a85a;
}

#imagen-header{
    background-image: url('img/BKprincipal.jpg');
    height: 100%;
     background-position: center;
    background-size: cover;

}
#footer-blue{
    width: 100%; 
    height: 70%;
    background-color: #414141;;
    text-align: center;
    position: relative;
    color: white;
}
#foooter-gray{
    width: 100%; 
    height:15%;
    background-color: #e6e6e6;
    text-align: center;
    color:#808080;
}#footer-red{
    width: 100%; 
    height: 15%;
    background-color: #c82c2c;
}
body{
    margin: 0;
    height: 100%;
    font-family: 'Museo', sans-serif;

}
html{
    height: 100%;
}
#barrabuscador{
    width: 100%;
    background-color: #1c335c;
    height: 20%;
    text-align: center;
}
.botonexcel{
    background-color: #23477c;
    color: white;
    cursor: pointer;

}
.labelFilter{ /*aqui*/
    color: white;
    cursor: pointer;
}
#buscador{
    border-radius: 5px;
    border-style: none;
    padding: 4px;
}
#barr{

    width: 100%;
    height: 100%;
    margin-top: 6%;
}
.barrasel{
    width: 80%;
    height: 20%;
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    padding-top: 1rem;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
}
#header{
    text-align: center;
    height: 72%;
}
.selector{
    margin-right: 3%;
    width: 10%;
    margin-top: 1rem;
}
.selector2{
    margin-right: 4%;
}
#selectores {
    height: 30%;
}
.uno {

    width: 16.666666666666%;
    background-color: #e6e6e6;
    float:left;
    height: 100%;
    text-align: center;
    color: #1c335c;
    padding-top: 12px;/*aqui*/
}
.uno2 {

    width: 25%;
    background-color: #e6e6e6;
    float:left;
    height: 100%;
    text-align: center;
    color: #1c335c;
}
#agente{

    margin-left: 10%; 
    width: 80%; 
    height: 10%;
    background-color: #1c335c; 
    text-align: center;
    color: white;
}
#agenteActive{ /*aqui*/

    margin-left: 10%; 
    width: 80%; 
    height: 10%;
    background-color: transparent; 
    text-align: center;
    color: white;
}
#cols{
    background-color: #d93030;
    margin-left: 10%; 
    width: 80%; 
    height: 10%; 
    padding-top: 12px; /*aqui*/

}
.unos{
    width: 16.666666666666%;
    background-color: #d93030;
    float:left;
    height: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.unos2{
    width: 25%;
    background-color: #d93030;
    float:left;
    height: 100%;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.center{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.autoajustar{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.xls{
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}
.lupa{  
    height: 1.7rem;
    width: 1.7rem;
    top: .5rem;
    position: absolute;
    right: 1rem;
}
#labels{
    color: #1c335c;
}
#logininfo{
    width: 58%;
    border-bottom-width: 1px;
    border-bottom: solid;
    margin-left: 24%;/*aqui modifique de 10 a 24*/
    border-color: #d7d7d7;
    color: #d93030;
    margin-top: 30px;/*aqui*/
    margin-bottom: 20px;/*aqui*/
}
#logininfo3{ /*aqui*/
    width: 58%;
    border-bottom-width: 1px;
    border-bottom: solid;
    margin-left: 24%;
    border-color: #d7d7d7;
    color: #d93030;
    margin-bottom: 20px;
    margin-top: 10% !important;
}
.namelb{
    width: 56%;
    float: left;
    color:#1c335c;
}
.passlb{
    width: 44%;
    float: left;
    color:#1c335c;
    text-align: left;
}
.formu{
    width: 100%;



}
.namein{
    width: 24%;
    margin-left: 6%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
    height: 2.5rem;
}
.passin{
    margin-left: 5%;
    width: 24%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
    height: 2.5rem;
}
.barrasel2{
    width: 80%;
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, .3);
}
.licensein{
    width: 24%;
    margin-right: 26%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
    height: 2.5rem;
}
.licenselb{

    color: #1c335c;
    width: 65%;
}
#day{
    background-color: white;
    height: 2.5rem;
    width: 50px;
    border-radius: 6px;
    padding-left: .5rem;

}
#mes{
    background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;


}
#anio{
    background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;
}
#addsafety{/*aqui*/
    background-color: white;
    height: 2.5rem;
    width: 100px;
    border-radius: 6px;
    padding-left: .5rem;
    text-align: center;

}
#logininfo2{
    width: 80%;

    margin-left: 10%;

    color: #ffffff;
}
#phone{

    width: 26%;
    margin-left: 3%;
    color:#1c335c;
}
#email{

    color:#1c335c;
}
#adress{
    width: 54%;
    color: #1c335c;
}
#state{
    background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;
}
#city{
    width: 72%;
    float: left;
    border-style: ridge;
    padding-left: 1rem;
    height: 2.5rem;
    border-radius: 6px;
}
#zip{
    width: 72%;
    border-style: ridge;
    padding-left: 1rem;
    height: 2.5rem;
    border-radius: 6px;
}
.barrser{
    width: 100%;
    color: white;
    background-color: #d93030;
    /*height: 2rem;
    /* padding-top: 12px; */
    width: 100%;
    background-color: #d93030;
    color: white;
    font-size: 1.2rem;
    padding: .3rem 0px;



}
.ui-widget-header {

    color: #fbf9ee !important;
    font-weight: bold !important;
    background: #D93030 !important;
}
.ui-widget-content {

    color: #1C335C !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal !important;
    color: #4E4E4E !important;
    border: none !important;
    background: none !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {

    font-weight: normal !important;
    color: #e6e6e6 !important;
    background: red !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {

    color: #FFFFFF !important;

    background: #D93030 !important;
}
.ui-icon-circle-triangle-e {

    background-image: url("flechaE.png") !important;
    background-size: cover !important;
}
.ui-icon-circle-triangle-w {

    background-image: url("flechaW.png") !important;
    background-size: cover !important;
}
.ui-icon-circle-triangle-e {
    background-position: -10px -4px !important;

}
.ui-icon-circle-triangle-w {
    background-position: -7px -4px !important;
}
.ui-icon {
    width: 16px !important;
    height: 26px !important;
}
.pikers{
    float: left;
    width: 20%;
}
#datepicker{
    height: 2rem;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 9px;    
    width: 80%;
}
#datefinal{
    height: 2rem;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 9px;
    width: 80%;
}
.barraselna{
    width: 80%;
    height: 20%;
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    /* border-right: solid; */
    /* border-left: solid; */
    border-right-width: 1px;
    border-left-width: 1px;
}
#send{
    width: 9rem;
    height: 3rem;
    border-radius: 7px;
    border: solid;
    background-color: #d93030;
    font-size: 1.5rem;
    color: white;
    margin-top: 1%;
    cursor: pointer;
    border-color: #861A1A;
    border-width: 0px 0px 4px 0px;
    -webkit-transition:  .5s; /* Safari */
    transition:  .5s;
}

#send:hover {
    border-width: 0px 0px 2px 0px;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
td{
    height: 3rem;
    width: 6.666667%;
}

.altr tr:nth-child(even) {
    background: #e5e6e6;
}
.altr tr:nth-child(odd) {
    background: #efefef;
}
#tablas{
    border-bottom: none;
    border-bottom-width: 1px;
    padding-bottom: 3rem;
}
#creditcard #card_number {
    background-image: url(img/images.png), url(img/images.png);
    background-position: 2px -121px, 260px -61px;
    background-size: 120px 361px, 120px 361px;
    background-repeat: no-repeat;
    padding-left: 54px;
    width: 225px;
}
#creditcard #card_number.visa {
    background-position: 2px -163px, 260px -61px;
}
#creditcard #card_number.amex {
    background-position: 2px -121px, 260px -61px;
}
#creditcard #card_number.visa_electron {
    background-position: 2px -205px, 260px -61px;
}
#creditcard #card_number.mastercard {
    background-position: 2px -247px, 260px -61px;
}
#creditcard #card_number.maestro {
    background-position: 2px -289px, 260px -61px;
}
#creditcard #card_number.discover {
    background-position: 2px -331px, 260px -61px;
}
#creditcard #card_number.valid.visa {
    background-position: 2px -163px, 260px -87px;
}
#creditcard #card_number.valid.visa_electron {
    background-position: 2px -205px, 260px -87px;
}
#creditcard #card_number.valid.mastercard {
    background-position: 2px -247px, 260px -87px;
}
#creditcard #card_number.valid.maestro {
    background-position: 2px -289px, 260px -87px;
}
#creditcard #card_number.valid.discover {
    background-position: 2px -331px, 260px -87px;
}
#creditcard #card_number.valid.amex {
    background-position: 2px -121px,260px -87px;
}
.inptclams{
    height: 2rem;
    width: 13rem;
    border: none;
    border-radius: 6px;
    padding-left: 2%;
    border-style: solid;
    border-size: -36px;
    border-width: 1px;
    border-color: #9A9A9A;
}
.selclaims{
    height: 2rem;
    border-radius: 6px;
    width: 7rem;
    border: none;
    border-style: solid;
    border-size: -36px;
    border-width: 1px;
    border-color: #9A9A9A;
}

#textarea{
    resize: none;
    width: 60%;
    margin-top: 4%;
    border-radius: 6px;
    padding-left: 2%;
}
#addnote:hover{
    background-color: green;
}
#editv:hover{
    background-color: yellow;
}
#deletev:hover{
    background-color:red;
}
.circulo {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C82C2C;
    text-align: center;
    float: right;
    margin: 5px auto;
}
#loghover:hover{
    background-color: #C82C2C;
}

.slider {
    height: 15em;

    text-align: center;

    width: 28em;
    margin: 0 auto;
}
.slider input {
    position: relative;
    top: -1.5em;
}
input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    height:15px;
    width:15px;
    background:#ccc;
    border-radius: 8px;
    cursor:pointer;
}
input[type='radio']:checked {
    -webkit-appearance: none;
    appearance: none;
    height:15px;
    width:15px;
    background:#666;
    border:4px solid #ccc;
    border-radius: 8px;
}
.slider ul {
    list-style: none;
    height: 15em;
    position: relative;
    width: 24em;
    -webkit-transform: perspective(1000);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s;
}
.slider ul li {
    left: 0;    
    position: absolute;
    top: 0;
    background:none;    
    -webkit-transform-origin: center;    
    -webkit-transform-style: preserve-3d;  

}
.slider ul li:nth-child(3){
    -webkit-transition: 1s ease-in-out;
    -webkit-transform: perspective(1000);

}
.slider img {
    -webkit-transform: perspective(1000);
    height: 15em;
    width: 24em;
    vertical-align: top;
    border-radius:8px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(255,255,255,0.4)));
}

/*2*/
#slide2:checked ~ ul li:nth-child(1){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em) translateX(10em); 
    -webkit-transition: 0.5s ease-in-out;             

}

#slide3:checked ~ ul li:nth-child(1){
    -webkit-transform: perspective(1000) rotateY(0deg);
    -webkit-transition: 1s ease-in-out;         
}

#slide4:checked ~ ul li:nth-child(1) {
    -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-20em) translateX(-10em);
    -webkit-transition: 0.5s ease-in-out;
}

/*1*/
#slide2:checked ~ ul li:nth-child(2){   
    -webkit-transform: perspective(1000) rotateY(0deg);
    -webkit-transition: 1s ease-in-out;    
}
#slide3:checked ~ ul li:nth-child(2){
    -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-20em)
        translateX(-10em) ;
    -webkit-transition: 0.5s ease-in-out;       
}

#slide4:checked ~ ul li:nth-child(2){
    -webkit-transform: perspective(1000) rotateY(40deg) translateZ(-40em)
        translateX(-20em) ;
    -webkit-transition: 0.4s ease-in-out; 
}

/*3*/

#slide2:checked ~ ul li:nth-child(3){      
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
        translateX(20em);
    -webkit-transition: 0.4s ease-in-out;                                                  
}

#slide3:checked ~ ul li:nth-child(3){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
        translateX(10em);
    -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(4){
    -webkit-transform: perspective(1000) rotateY(0deg);
    -webkit-transition: 1s ease-in-out;

}

/*4*/                                                                           
#slide2:checked ~ ul li:nth-child(4){      
    -webkit-transform: perspective(1000) rotateY(-60deg) translateZ(-70em)
        translateX(5em);
    -webkit-transition: 0.4s ease-in-out;                                                  
}

#slide3:checked ~ ul li:nth-child(4){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
        translateX(20em);
    -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(4){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
        translateX(10em);
    -webkit-transition: 1s ease-in-out;

}
/*5*/                                                                                                           
#slide2:checked ~ ul li:nth-child(5){      
    -webkit-transform: perspective(1000) rotateY(-60deg) translateZ(-90em)
        translateX(5em);
    -webkit-transition: 0.4s ease-in-out;                                                  
}

#slide3:checked ~ ul li:nth-child(5){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-40em)
        translateX(20em);
    -webkit-transition:0.5s ease-in-out;
}

#slide4:checked ~ ul li:nth-child(5){
    -webkit-transform: perspective(1000) rotateY(-40deg) translateZ(-20em)
        translateX(10rem);
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
     color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-file-input::before {

   
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;

}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top,#e3e3e3,#f9f9f9);
}   

.jumbotron{
    background-image: url('img/BKindex2.jpg'); 
	background-size: 100% 100%;  
 background-repeat: no-repeat;
	
	
}