/*la que el fili modifico*/
ul{
 list-style: none;	
     margin: 0;
}
li{
	float:left;
}
li a{
	 display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:  #79a85a;
    color:white;
    border-radius: 6px;
}

#barraroja{

	width: 100%;
	height: 7%;
	background-color: #c82c2c;
}
#imagen-header{

	width: 100%;
	height: 40%;
	background-color: #79a85a;
}

#imagen-header{
	background-image: url('bg.svg');
	background-size: cover;
	height: 100%;
}
#footer-blue{
	width: 100%; 
	height: 70%;
	background-color: #1c335c;
	text-align: center;
	position: relative;
	color: white;
}
#foooter-gray{
	width: 100%; 
	height:15%;
	background-color: #e6e6e6;
	text-align: center;
	color:#808080;
}#footer-red{
	width: 100%; 
	height: 15%;
	background-color: #c82c2c;
}
body{
	margin: 0;
	height: 100%;
	font-family: 'Museo', sans-serif;
	
}
html{
	height: 100%;
}
#barrabuscador{
	width: 100%;
	background-color: #1c335c;
	height: 20%;
	text-align: center;
}
.botonexcel{
	background-color: #23477c;
	color: white;
	cursor: pointer;
	
}
.labelFilter{ /*aqui*/
    color: white;
    cursor: pointer;
}
#buscador{
    border-radius: 5px;
    border-style: none;
    padding: 4px;
}
#barr{
	  
  width: 100%;
  height: 100%;
}
.barrasel{
	 width: 80%;
    height: 20%;
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    border-right: solid;
	border-left: solid;
   border-right-width: 1px;
    border-left-width: 1px;
}
#header{
	text-align: center;
}
.selector{
	    margin-right: 3%;
    width: 10%;
}
.selector2{
margin-right: 10%;
}
#selectores {
	height: 30%;
}
.uno {

	width: 16.666666666666%;
	background-color: #e6e6e6;
	float:left;
	height: 100%;
	text-align: center;
	color: #1c335c;
    padding-top: 12px;/*aqui*/
}
.uno2 {

	width: 25%;
	background-color: #e6e6e6;
	float:left;
	height: 100%;
	text-align: center;
	color: #1c335c;
}
#agente{
	
	  margin-left: 10%; 
	  width: 80%; 
	  height: 10%;
	  background-color: #1c335c; 
	  text-align: center;
	  color: white;
}
#agenteActive{ /*aqui*/
    
      margin-left: 10%; 
      width: 80%; 
      height: 10%;
      background-color: transparent; 
      text-align: center;
      color: white;
}
#cols{
	background-color: #d93030;
	 margin-left: 10%; 
	 width: 80%; 
	 height: 10%; 
     padding-top: 12px; /*aqui*/

}
.unos{
	width: 16.666666666666%;
	background-color: #d93030;
	float:left;
	height: 100%;
	text-align: center;
	color: white;
	vertical-align: middle;
}
.unos2{
	width: 25%;
	background-color: #d93030;
	float:left;
	height: 100%;
	text-align: center;
	color: white;
	vertical-align: middle;
}
.center{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.autoajustar{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.xls{
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
}
.lupa{
	
   
   
    height: 1rem;
    width: 1rem;
        top: 14.8rem;
    position: absolute;
    right: 53rem;
}
#labels{
	color: #1c335c;
}
#logininfo{
	width: 58%;
    border-bottom-width: 1px;
    border-bottom: solid;
    margin-left: 24%;/*aqui modifique de 10 a 24*/
    border-color: #d7d7d7;
    color: #d93030;
    margin-top: 20px;/*aqui*/
    margin-bottom: 20px;/*aqui*/
}
#logininfo3{ /*aqui*/
    width: 58%;
    border-bottom-width: 1px;
    border-bottom: solid;
    margin-left: 24%;
    border-color: #d7d7d7;
    color: #d93030;
    margin-bottom: 20px;
    margin-top: 10% !important;
}
.namelb{
	    width: 56%;
    float: left;
    color:#1c335c;
}
.passlb{
	    width: 44%;
    float: left;
    color:#1c335c;
    text-align: left;
}
.formu{
	    width: 100%;

   
  
}
.namein{
	    width: 24%;
    margin-left: 6%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
        height: 2.5rem;
}
.passin{
	       margin-left: 5%;
    width: 24%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
        height: 2.5rem;
}
.barrasel2{
	 width: 80%;
   
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    border-right: solid;
	border-left: solid;
   border-right-width: 1px;
    border-left-width: 1px;
}
.licensein{
	    width: 24%;
    margin-right: 26%;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 1rem;
        height: 2.5rem;
}
.licenselb{

	color: #1c335c;
	width: 65%;
}
#day{
	    background-color: white;
    height: 2.5rem;
    width: 50px;
    border-radius: 6px;
    padding-left: .5rem;

}
#mes{
	background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;
   

}
#anio{
	background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;
}
#addsafety{/*aqui*/
    background-color: white;
    height: 2.5rem;
    width: 100px;
    border-radius: 6px;
    padding-left: .5rem;
    text-align: center;

}
#logininfo2{
	width: 80%;
   
    margin-left: 10%;
    
    color: #ffffff;
}
#phone{
	    
    width: 26%;
    margin-left: 3%;
    color:#1c335c;
}
#email{
	   
	    color:#1c335c;
}
#adress{
	width: 54%;
	color: #1c335c;
}
#state{
	    background-color: white;
    height: 2.5rem;
    width: 90px;
    border-radius: 6px;
    padding-left: .5rem;
}
#city{
	    width: 72%;
    float: left;
    border-style: ridge;
    padding-left: 1rem;
        height: 2.5rem;
        border-radius: 6px;
}
#zip{
	width: 72%;
	border-style: ridge;
    padding-left: 1rem;
        height: 2.5rem;
        border-radius: 6px;
    }
    .barrser{
        width: 100%;
    color: white;
    background-color: #d93030;
    height: 2rem;
    /* padding-top: 12px; */
    width: 100%;
    background-color: #d93030;
    color: white;
    font-size: 1.5rem;
    

 
    }
 .ui-widget-header {
   
    color: #fbf9ee !important;
    font-weight: bold !important;
    background: #D93030 !important;
 }
 .ui-widget-content {
   
    color: #1C335C !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: normal !important;
    color: #4E4E4E !important;
    border: none !important;
    background: none !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    
    font-weight: normal !important;
    color: #e6e6e6 !important;
    background: red !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    
    color: #FFFFFF !important;
    
    background: #D93030 !important;
}
.ui-icon-circle-triangle-e {
  
    background-image: url("flechaE.png") !important;
    background-size: cover !important;
}
.ui-icon-circle-triangle-w {
   
    background-image: url("flechaW.png") !important;
    background-size: cover !important;
}
.ui-icon-circle-triangle-e {
    background-position: -10px -4px !important;
    
}
.ui-icon-circle-triangle-w {
       background-position: -7px -4px !important;
}
.ui-icon {
    width: 16px !important;
    height: 26px !important;
}
.pikers{
	float: left;
    width: 20%;
}
#datepicker{
	height: 2rem;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 9px;
}
#datefinal{
	height: 2rem;
    border-radius: 6px;
    border-style: ridge;
    padding-left: 9px;
}
.barraselna{
	width: 80%;
    height: 20%;
    background-color: #ffffff;
    margin-left: 10%;
    text-align: center;
    /* border-right: solid; */
    /* border-left: solid; */
    border-right-width: 1px;
    border-left-width: 1px;
}
#send{
	    width: 13rem;
    height: 4rem;
    border-radius: 7px;
    border: none;
    background-color: #d93030;
    font-size: 1.5rem;
    color: white;
    margin-top: 1%;
    cursor:pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
td{
    height: 3rem;
    width: 16.66666666%;
}

.altr tr:nth-child(even) {
    background: #e5e6e6;
}
.altr tr:nth-child(odd) {
    background: #efefef;
}
#tablas{
        border-bottom: solid;
    border-bottom-width: 1px;:;
    padding-bottom: 3rem;
}
   #creditcard #card_number {
      background-image: url(img/images.png), url(img/images.png);
      background-position: 2px -121px, 260px -61px;
      background-size: 120px 361px, 120px 361px;
      background-repeat: no-repeat;
      padding-left: 54px;
      width: 225px;
    }
    #creditcard #card_number.visa {
      background-position: 2px -163px, 260px -61px;
    }
    #creditcard #card_number.amex {
      background-position: 2px -121px, 260px -61px;
    }
    #creditcard #card_number.visa_electron {
      background-position: 2px -205px, 260px -61px;
    }
    #creditcard #card_number.mastercard {
      background-position: 2px -247px, 260px -61px;
    }
    #creditcard #card_number.maestro {
      background-position: 2px -289px, 260px -61px;
    }
    #creditcard #card_number.discover {
      background-position: 2px -331px, 260px -61px;
    }
    #creditcard #card_number.valid.visa {
      background-position: 2px -163px, 260px -87px;
    }
    #creditcard #card_number.valid.visa_electron {
      background-position: 2px -205px, 260px -87px;
    }
    #creditcard #card_number.valid.mastercard {
      background-position: 2px -247px, 260px -87px;
    }
    #creditcard #card_number.valid.maestro {
      background-position: 2px -289px, 260px -87px;
    }
    #creditcard #card_number.valid.discover {
      background-position: 2px -331px, 260px -87px;
    }
    #creditcard #card_number.valid.amex {
      background-position: 2px -121px,260px -87px;
    }
